@model IEnumerable<DomainEntity.Models.Makale>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kategori.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th>
    @Html.DisplayNameFor(model => model.Etiketim.Adi)
</th>
    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kategori.Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etiketim.Adi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MakaleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MakaleID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MakaleID })
              </td>
    </tr>
}

</table>
@*<script>
 <a onclick="sil(this)" data-id="@item.MakaleID">Delete</a>
    function sil(hangiButon) {

        var id = $(hangiButon).attr("data-id");
        console.log(id);
        $.ajax({
            url: "/Makale/Makalesil",
            method: "POST",
            data: { "id": id },
            success: function () {
                $(hangiButon).parent().parent().slideUp();
            }
        })
    }


</script>*@