@model IEnumerable<DomainEntity.Models.Konu>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KonuAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KonuResim)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KonuAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KonuResim)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KonuID }) |
                @Html.ActionLink("Details", "Details", new { id = item.KonuID }) |
                <a onclick="sil(this)" data-id="@item.KonuID">Sil</a>
            </td>
        </tr>
    }

</table>
<script>

    function sil(hangiButon) {

        var id = $(hangiButon).attr("data-id");
        console.log(id);
        $.ajax({
            url: "/Konu/KonuSil",
            method: "POST",
            data: { "id": id },
            success: function () {
                $(hangiButon).parent().parent().slideUp();
            }
        })
    }


</script>